@use '../../App.scss' as g;

.crocs_club_popup_wrap {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 5rem 10rem;
    border: 1px solid #ddd;
    @include g.flex($fd: column, $jc: center, $gap: none);

    .title_wrap {
        padding-bottom: 5rem;

        .section_title {
            padding-bottom: 2rem;
        }
    }
    .popup_wrap {
        width: 100%;
        // margin: 0 auto;
        @include g.flex($gap: 20rem);

        > div {
            flex: 1;
        }

        .crocs_club_popup_left {
            text-align: start;
            p {
                span {
                    display: inline-block;
                    width: 2rem;
                    height: 2rem;
                    background: #eee;
                    border-radius: 50rem;
                    text-align: center;
                }
            }
        }

        .crocs_club_popup_right {
            @include g.flex($fd: column, $jc: center, $gap: none);

            .crocs_club_option {
                text-align: center;

                select {
                    width: 6rem;
                    gap: 2rem;
                    text-align: center;
                }
            }
        }

        a {
            width: 40rem;
            height: 4rem;
            border-radius: 50px;
            border: none;
            font-weight: bold;
            font-size: 1.6rem;
            background: g.$mainColor;
        }
    }
}
