@use '../../App.scss' as g;

.search_wrap {
    width: 100%;
    height: 50rem;
    background: #ddd;
    padding-top: 12rem;
    top: 0;
    left: 0;
    margin: 0 auto;
    border-radius: 0 0 1rem 1rem;

    .search_top {
        @include g.flex();
        width: 100%;

        .search_input {
            position: relative;
            @include g.flex();
            width: 90%;
            margin: 0 auto;

            > input {
                // position: relative;
                width: 100%;
                height: 5rem;
                background: g.$mainColor;
                border-radius: 5rem;
                text-align: left;
                margin: 0 auto;
                border: none;
                padding: 0 4rem;
                line-height: 5rem;
                font-weight: 600;
                color: #fff;

                &::placeholder {
                    color: #fff;
                }
            }

            .search_btn {
                position: absolute;
                right: 1rem;
            }
        }
    }

    .search_bottom {
        position: relative;
        width: 90%;
        margin: 0 auto;
        @include g.flex($ai: null);
        padding: 4rem 3rem 0;

        .search_left {
            // width: 50%;
            @include g.flex($gap: 18rem);
        }

        .search_right {
            position: absolute;
            top: 6rem;
            right: 3rem;

            a {
                img {
                    // width: 80rem;
                    height: 20rem;
                }
            }
        }
    }
}
