@use '../../App.scss' as g;

.sub_page {
    .inner {
        .user_info_top {
            @include g.flex();
            margin: 5rem 0;

            > div {
                width: 100%;
                height: 20rem;
                flex: 1;
                border: 1px solid red;
                // padding: 5rem rem;
                border-radius: 10px;
                @include g.flex($jc: center, $fd: column, $ai: start, $gap: 1rem);
                padding: 0 4rem;
            }

            .user_info_left {
                // @include g.flex($fd: column, $ai: start, $gap: 1rem);
                // border: 1px solid red;
                // padding: 5rem 8rem;
                // border-radius: 10px;
                a {
                    display: block;
                    width: fit-content;
                    height: fit-content;
                    border-radius: 50px;
                    border: none;
                    font-weight: 700;
                    background: g.$mainColor;
                    padding: 2px 10px;
                }

                .club_join {
                    @include g.flex();
                    strong {
                        display: block;
                        width: fit-content;
                        height: fit-content;
                        border-radius: 50px;
                        border: none;
                        font-weight: 700;
                        background: g.$mainColor;
                        padding: 2px 10px;
                    }
                }
            }
        }

        .user_but_wrap {
            @include g.flex($gap: 5rem);
            margin-bottom: 5rem;
            button {
                flex: 1;
                border: 1px solid red;
                padding: 5rem 8rem;
                border-radius: 10px;
            }
        }
    }
}
